@import './utilities';

html, body, #root, #layout {
  height: 100%;
  margin: 0;

  background: white;
  font-family: Helvetica;
}

#layout {
  display: flex;
  flex-direction: column;
}

#main {
  display: flex;
  flex: 1;

  main {
    flex: 1;
  }

  nav, aside {
    flex: 0 0 12em;
  }

  nav {
    order: -1;
  }
}

header, footer {
  background: #232F3E;
  color: white;
  text-shadow: 2px 2px 0 rgba(0,0,0,.5);

  a {
    color: #ccc;
    text-decoration: none;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

header {
  padding: 10px;
}

footer {
  padding: 0px 10px;
}

footer a {
  flex: 1;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
  #main {
    flex-direction: column;
  }

  #main > article, #main > nav, #main > aside {
  /* Return them to document order */
    order: 0;
  }
  
  #main > nav, #main > aside, header, footer {
    min-height: 50px;
    max-height: 50px;
  }
}