@import '../../../styles/colors';

@mixin highlight {
    background: $secondary-brand-color;

    a {
        color: $navbar-link-active-color;
        text-decoration: none;
    }
}

#nav {
  .nav-item {
    padding: 1em;
    cursor: pointer;
    display: inline-block;

    &:hover {
        @include highlight;
    }
  }

  .active-nav {
    @include highlight;
  }
}