/*
  Using Material Design color palette: https://material.io/guidelines/style/color.html#color-color-palette
*/

@mixin messageColors($bg, $icon, $close, $text) {
  background: $bg;
  color: $text;

  i {
    color: $icon;
  }

  .close {
    color: $close;
  }
}

.message {
  padding: 8px 12px;

  font-size: 14px;
  line-height: 24px;
  position: relative;

  i, .close {
    font-size: 24px;
    line-height: 20px;
  }

  i {
    margin-right: 8px;
  }

  .close {
    margin-top: -12px;
    padding: 0;

    position: absolute;
    right: 8px;
    top: 50%;

    cursor: pointer;
    font-weight: 700;
  }

  &.info {
    @include messageColors(#CFD8DC, #546E7A, #37474F, #263238); // Blue Grey: 100, 600, 800, 900
  }

  &.success {
    @include messageColors(#DCEDC8, #7CB342, #558B2F, #33691E); // Light Green: 100, 600, 800, 900
  }

  &.warning {
    @include messageColors(#FFECB3, #FFB300, #FF8F00, #FF6F00); // Amber: 100, 600, 800, 900
  }

  &.error {
    @include messageColors(#FFCDD2, #E53935, #C62828, #B71C1C); // Red: 100, 600, 800, 900
  }
}