@import '~app/styles/colors';
@import '~app/styles/typography';

@mixin messageColors($bg, $icon, $close, $text) {
  background: $bg;
  color: $text;

  i {
    color: $icon;
  }

  .close {
    color: $close;
  }
}

.message {
  margin-bottom: 1em;
  padding: 8px 12px;

  font-size: $font-size-normal;
  line-height: 24px;
  position: relative;

  i, .close {
    font-size: $font-size-huge;
    line-height: 20px;
  }

  i {
    margin-right: 8px;
  }

  .close {
    margin-top: -12px;
    padding: 0;

    position: absolute;
    right: 8px;
    top: 50%;

    cursor: pointer;
    font-weight: 700;
  }

  &.info {
    @include messageColors($info-light-color, $info-medium-color, $info-dark-color, $info-darker-color);
  }

  &.success {
    @include messageColors($success-light-color, $success-medium-color, $success-dark-color, $success-darker-color);
  }

  &.warning {
    @include messageColors($warning-light-color, $warning-medium-color, $warning-dark-color, $warning-darker-color);
  }

  &.error {
    @include messageColors($error-light-color, $error-medium-color, $error-dark-color, $error-darker-color);
  }
}